<p>
	<%= f.label "Company Name" %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
</p>
<p>
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
</p>
<p>
	<%= f.label :address %>
	<%= f.text_field :address %>
</p>
<p>
	<%= f.label :city%>
	<%= f.text_field :city %>
</p>
<p>
	<%= f.label :state %>
	<%= f.text_field :state %>
</p>
<p>
	<%= f.label :zip %>
	<%= f.text_field :zip %>
</p>
<p>
	<%= f.label "Business Phone" %>
	<%= f.text_field :business %>
</p>
<p>
	<%= f.label "Cell Phone" %>
	<%= f.text_field :cell %>
</p>
<p>
	<%= f.label :fax %>
	<%= f.text_field :fax %>
</p>
<p>
	<%= f.label :website %>
	<%= f.text_field :website %>
</p>
<p>
	<%= f.label :description %>
	<%= f.text_area :description, :cols => 20, :rows => 5 %>
</p>
<p>
	<label>Partner Type</label>
	
	<%= f.select :partner_type_id, options_for_select(@partner_types.map{|type| [type.name, type.id]}, @partner.partner_type_id) %><br /><br />

</p>
<p>
	<label>Photoset</label>
	<%= f.select :flickr_id, options_for_select(@partner.photosets.map{|photoset| [photoset['title'], photoset['id']]}, @partner.flickr_id) %><br /><br />
</p>
	<p class="buttons">
		<%= submit_tag "Save Partner", :class => "button" %> or 
		<%= link_to "Cancel", admin_partners_url %>
	</p>
