<p>
	<%= f.label "Company Name" %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
</p>
<p>
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
</p>
<p>
	<%= f.label :address %>
	<%= f.text_field :address %>
</p>
<p>
	<%= f.label :city%>
	<%= f.text_field :city %>
</p>
<p>
	<%= f.label :state %>
	<%= f.text_field :state %>
</p>
<p>
	<%= f.label :zip %>
	<%= f.text_field :zip %>
</p>
<p>
	<%= f.label "Business Phone" %>
	<%= f.text_field :business %>
</p>
<p>
	<%= f.label "Cell Phone" %>
	<%= f.text_field :cell %>
</p>
<p>
	<%= f.label :fax %>
	<%= f.text_field :fax %>
</p>
<p>
	<%= f.label :website %>
	<%= f.text_field :website %>
</p>
<p>
	<%= f.label :description %>
	<%= f.text_area :description, :cols => 20, :rows => 5 %>
</p>
<p>
	<label>Partner Type</label>
	<select name="partner[partner_type]">
		<option value="1">Contractor</option>
		<option value="2">Designer</option>
		<option value="3">Partner</option>
	</select>
</p>
<p>
	<label>Photoset</label>
	<select name="partner[flickr_id]">
	<% @partner.photosets.each do |set|%>
		<option value="<%= set['id']%>"><%= set['title']%></option>
	<% end %>
	</select>		
</p>
	<p class="buttons">
		<%= submit_tag "Save Partner", :class => "button" %> or 
		<%= link_to "Cancel", admin_partners_url %>
	</p>