<h1>Partners</h1>
<table class="index">
	<thead>
		<tr>
			<th>Partner</th>
			<th>Website</th>
			<th>Manage</th>
		</tr>
	</thead>
<% @partners.each do |partner| %>
	<tr>
		<td><%= partner.name %></td>
		<td><%= link_to partner.website, partner.website  %></td>
		<td>
			<%= link_to "Edit", edit_admin_partner_url(partner) %>&nbsp;|&nbsp;
			<%= link_to "Delete", admin_partner_url(partner), :method => "delete", :confirm => "Are you sure?" %>
		</td>
	</tr>
<% end %>
</table>

<div id="actions">
	<ul>		
		<li>
			<%= link_to image_tag('/images/admin/plus.png', :border => 0) + " Add Partner", new_admin_partner_url %>
				
		</li>
	</ul>
</div>